body {
    font-family: Arial, Helvetica, sans-serif;
    color: #F999B7;
    
}

h1{
  color:#F2789F;
  font-size: 24px;
  font-weight: 100;   
  line-height: 28px ;
  margin-bottom: 0px;
  margin-top: 20px;
}

ul{
    margin: 0;
    padding: 0;
}
li :first-letter{
    text-transform: capitalize;
}

li{
    list-style: none;
    color:#F999B7;
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    margin: 0;
    padding: 0;  
    text-transform: capitalize;
}


.app,.footer{
    max-width: 600px;
    margin: 0px auto;    
}
.app{
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #dadde1;
    border-radius: 5px;
    background-color: #FEE3EC;
    margin-bottom: 10px;
}

#location-info{
    margin-bottom: 20px;
}

#iconID{
    margin-right: 5px;
    height: 64px;
    width: 64px;
    }

#tempID{
    color:#F2789F;
    font-size: 64px;
    line-height: 64px;
    font-weight: 400;
    vertical-align: middle;
    display: inline;
}
#temp-unitID{
    vertical-align: top;
    display: inline;
    font-size: 16px;
    
}
#F-degreeID,#C-degreeID,#degreeID {
    text-decoration: none;
}

.active{
    color:#F999B7;  
    cursor: default;  
}
.active :hover{
    text-decoration: none;
    color:#F999B7; 
}

.forecast{
    margin-top: 20px;
}

.col-forecast{
    text-align: center;
}
.forecast-temp{
    font-size: 13px;
}
.forecast-day{
    color:#F2789F;
}
.forecast-temp-min{
    opacity: 0.8;
}





